/* Allow users in the wheel group to run the kerything scanner without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "net.reikooters.kerything.run-scanner" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
