[Desktop Entry]
Name=Kerything
Exec=kerything
Icon=kerything
Type=Application
Categories=Qt;KDE;System;
GenericName=NTFS, BTRFS and EXT4 Disk Scanner
Comment=Fast file scanning using trigrams
Terminal=false
StartupWMClass=kerything
